<!-- Bottom Nav Bar-->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="navbar-text mb-0">
  <!-- footer copyright text with email and github links-->
  &copy; 2025 by
    <a href="mailto:sarah.kitchen@ontariotechu.net">Sarah Kitchen
    </a>
    <a href="https://github.com/sekitch42" target="blank" class="git-link ms-1">  
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/sarah-kitchen-a85b39395/" target="blank" class="linkedin-link ms-1">
      <i class="fa-brands fa-linkedin-in"></i>
  </h6>
</nav>