<%- include partials/header %>
<%- include partials/main_nav.ejs %>
<div class="row align-items-center g-4">
  <div class="col-md-4 text-center">
   <!-- photo of me and intro video -->  
    <img src="assets/images/profilephoto.png" class="img-fluid rounded-4 shadow-sm" alt="Photo of me">
  </div>
  <div class="col-md-8">
    <h2>About Me</h2>
    <p class="text-muted">
      Hi, My name is Sarah Kitchen and I'm a networking and IT security student at Ontario Tech University.
    </p>
    
    <div class="ratio ratio-16x9 mt-3">
      <video controls poster="assets/images/poster.png">
        <source src="assets/videos/intro.mp4" type="video/mp4">
        <source src="assets/videos/intro.ogv" type="video/ogg">
        Your browser doesn't support the video tag.
      </video>
    </div>
  </div>
</div>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
