<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!-- container to center bootstrap card for profile image-->
<div class="container d-flex justify-content-center my-5">

  <!--bootstrap image card-->
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/Assets/images/profilephoto.png" class="img-fluid rounded-start" alt="Photo of me">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">About Me</h5>
          <p class="card-text">Hi, My name is Sarah Kitchen and I'm a networking and IT security student at Ontario Tech University.</p>
        </div>
      </div>
    </div>
  </div>
</div>  
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
