<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>
<!-- heading for projects page-->
<h2 class="mb-4"> My Projects</h2>

<!--bootstrap containers layout using row columns grid system-->
<div class="container text-center">
  <div class="row row-cols-2">

    <div class="col">
      <h5 class="project-title">Python Randomized Cipher Game</h5>
      <p class="project-text">I created a program that asks users 
        to input a message and then outputs an encrypted version of 
        their message using substitution, playfair, ceasar, transposition, 
        product or RSA methods.</p>
    </div>

    <div class="col">
      <h5 class="project-title">Modded Arcade Cabinet</h5>
      <p class="project-text">This project involved replacing the inner hardware of an arcade cabinet with a raspberrypi which I programmed 
      to play legally sourced games not native to the arcade cabinet. 
      Additionally, I rewired and reprogrammed the controls to fit a universal control scheme via USB.</p>
    </div>

    <div class="col">
      <h5>Dungeon Crawler Game using Unity</h5>
        <p>A top down dungeon crawler built in Unity, features procedurally generated levels, enemy AI, collectible items and more. 
          Players must navigate the dungeon to avoid enemies and traps. This project demonstrates my skills in C# scripting.</p>
    </div>

    <div class="col">
      <h5>Angry Birds Mod for Minecraft</h5>
        <p>Modded minecraft to replace existing entities with characters from the game Angry Birds. Used blockbench, and Java to create 
          game models with adjusted sounds and actions.</p>
    </div>
    
  </div>
</div>

<%- include ./partials/bottom_nav.ejs %>
<%- include ./partials/footer.ejs %> 
