/* lowers text from top of the page*/
main {
  margin-top: 80px;
}

/*text font styling*/
body {
 font-family: Verdana, Tahoma, sans-serif;
  color: #ffffff;
 
}

/* grid and linear gradient background */
body {
 
  /* grid code adapted from online source, referenced in readme */
  /* grid lines on top of gradient*/
  background-image:
    /* horizontal lines */
    linear-gradient(0deg, rgba(0,0,0,0.12) 1px, transparent 1px),
    /* vertical lines */
    linear-gradient(90deg, rgba(0,0,0,0.12) 1px, transparent 1px),
    /* base gradient */
    linear-gradient(180deg, #07130b, #04110a);

  /* makes background cover whole page */
  background-size: 60px 60px, 60px 60px, cover;
  background-repeat: repeat, repeat, no-repeat;
  background-attachment: fixed;
  background-position: top left;
}

/* adds a green border with a transparent background to project cards */
.project-card {
  border-color: #198754;
  background-color: transparent;
  color: #198754;
  padding: 1rem;
}
